<%= @article.content %>
<%= @article.title %>

<form action="/articles/<%=@article.id%>" method="post">
<input type="button" value="delete">
<input id="hidden" value="hidden" name="a_method" value="DELETE">
  
</form>